.hangman-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hangman-wrapper__right {
  width: 50%;
  font-size: 24px;
  text-align: center;
}

.hangman-wrapper__right > div {
  margin: 20px 0 40px;
}

.hangman-wrapper__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guessing-word {
  font-size: 56px;
}

.guessing-word__char {
  padding: 0 10px;
}

.letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.letter {
  width: 50px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  background-color: #6260b8;
  border: 2px solid #6260b8;
  border-radius: 5px;
  cursor: pointer;
}

.letter:disabled.correct {
  border: 2px solid #2ecc71;
  background-color: #bcfdd7;
  color: #2ecc71;
}

.letter:disabled.incorrect {
  border: 2px solid #c0392b;
  background-color: #fbb6b6;
  color: #c0392b;
}

.definition {
  display: flex;
  min-height: 70px;
}

.example {
  display: flex;
  min-height: 50px;
}

.definition__label,
.example__label {
  margin-right: 10px;
}

.definition__text,
.example__text {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
