.button {
  width: 150px;
  height: 50px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
  padding: 6px 16px;
  transition: 0.2s ease-in;
}

.button--add {
  background-color: #2ea44f;
}

.button--add:hover {
  background-color: #237c3c;
}

.button--see {
  background-color: #0095ff;
}

.button--see:hover {
  background-color: #007dd7;
}

.button--delete {
  background-color: #cb2027;
}

.button--delete:hover {
  background-color: #ad1b20;
}

.button--submit {
  background-color: #0095ff;
}

.button--submit:hover {
  background-color: #007dd7;
}

.button--show {
  width: 100px;
  height: 30px;
  line-height: 15px;
  background-color: #0095ff;
}

.button--show:hover {
  background-color: #007dd7;
}

.button--home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2adba4;
  font-size: 36px;
  cursor: pointer;
}

.button--home:hover {
  background-color: #09b981;
}
