.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}

.vocab__title {
  font-size: 36px;
  margin: 20px 0;
}

.vocab__buttons {
  display: flex;
  gap: 20px;
}