.modal {
  min-width: 450px;
  min-height: 250px;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 60%);
}

.modal__title {
  display: block;
  max-width: 90%;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.modal__buttons button {
  position: absolute;
  top: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__buttons--home {
  display: flex;
  align-items: center;
  left: 20px;
}

.modal__buttons--close {
  right: 20px;
}

.modal__buttons-text {
  font-size: 16px;
  margin-left: 5px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__input {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 20px;
}

.modal__text {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}
